<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Chat Application | CalliCoder</title>
    <link rel="stylesheet" th:href="main.css" />
</head>
<body th:background="18.jpg"
      style="background-position: center; background-repeat: no-repeat; background-size: cover;">


<div id="chat-page" class="">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Chat Box</h2>
        </div>
        <div class="connecting">Connecting...</div>
        <ul id="messageArea" th:each="element : ${messagesList}">
            <li th:text="${element}" th:class="chat-message"></li>
        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..."
                           autocomplete="off" class="form-control" />
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="main.js"></script>
</body>
</html>